
body {
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  font-size: 30px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}


.game-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 300px;
  height: 300px;
}
